[Desktop Entry]
Name=Launch Game (manual)
Comment=Manually launch Udder Mayhem. Only needed if autostart failed.
Exec=/home/uddermayhem/LAUNCH.sh
Icon=applications-games
Terminal=true
Type=Application
Categories=Game;
